
{% extends 'texasbrew/base.html' %}
{% block title %}All Beers{% endblock %}
{% block beers_active %}active{% endblock %}

{% block body %}
<div class="container-fluid songs-container">

    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" {% if filter_by == 'all' %}class="active"{% endif %}><a href="{% url 'texasbrew:songs' 'all' %}">View All</a></li>
                <li role="presentation" {% if filter_by == 'favorites' %}class="active"{% endif %}><a href="{% url 'texasbrew:songs' 'favorites' %}">Favorites</a></li>
            </ul>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-12">

            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                    <th>Beer Name</th>
                                    <th>Company</th>
                                    <th>Image</th>
                                    <th>Brewery</th>
                                    <th>Favorite</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for beer in beer_list %}
                                <tr>
                                    <td>{{ beer.beer_name }}</td>
                                    <td>{{ beer.brewery.brew_location }}</td>
                                    <td>
                                        <a href="{% url 'texasbrew:detail' beer.brewery.id %}">
                                            <img src="{{ beer.brewery.beer_logo.url }}" class="img-responsive" style="width: 20px; float: left; margin-right: 10px;" />
                                        </a>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{% url 'texasbrew:detail' beer.brewery.id %}">
                                            <img src="{{ beer.brewery.brew_logo.url }}" class="img-responsive" style="width: 20px; float: left; margin-right: 10px;" />
                                        </a>
                                        <a href="{% url 'texasbrew:detail' beer.brewery.id %}">{{ beer.brewery.brew_name }}</a>
                                    </td>
                                    <td>
                                        <a href="{% url 'texasbrew:favorite' beer.id %}" class="btn-favorite"><span class="glyphicon glyphicon-star {% if beer.is_favorite %}active{% endif %}"></span></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>

</div>
{% endblock %}
